/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.navbar{
    background-color: #acc1c8 !important;
    font-size: 30px;
}

.navbar-brand{
    font-size: 30px;
}

body{
    background-color: #a1b0c379;
}

a.link {
    color: rgb(96, 90, 80) !important;
}